<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Vintage Iron Classics and Performance</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Parts</a></li>
            <li><a href="addPart.html">Add Part</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><button onclick="logout()">Logout</button></li>
        </ul>
    </div>
    <script>
        function logout(){
            $.ajax({
                url: './assets/php/logout.php',
                success: function(){
                    window.location("./login.html")
                }
            })
        }
    </script>
</nav>
<!-- THIS SETUP WAS INSPIRED BY THE SETUP DESCRIBED ON  -->