<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./about.html">Vintage Iron Classics and Performance</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="home"><a href="./index.html">Home</a></li>
            <li id="add"><a href="addPart.html">Add Part</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="cart"><a href="cartPage.html" class="glyphicon glyphicon-shopping-cart"></a></li>
            <li><button onclick="logout()" class="btn btn-primary mb-2">Logout</button></li>
        </ul>
    </div>
    <script>
        function logout(){
            $.ajax({
                url: './assets/php/logout.php',
                success: function(res){
                    window.location="./login.html"
                }
            })
        }
    </script>
</nav>