.loginbox{
    width: 40%;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 100px auto;
    background-color: #7fcce5;
}

.loginbox button{
    margin: 10px auto;
    display: block;
}

.loginbox input{
    margin-top: 25px;
}

.form-control{
    margin: 10px auto;
    width: 80%;
}

#submitButton{
    background-color: mediumslateblue;
    color: white;
    width: 25%;
    margin: 10px auto;
}

#errormessage{
    color:red;
}