#list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.part{
    margin: 10px;
    width: 200px;
    max-width: 500px;
    background-color: #9ad9ee;
}

#list .ui-selected{
    background-color: #ee9d9a;
}

button{
    background-color: #1c7fa0;
    color: #FFF;
    height: 50px;
    display: block;
    margin: 10px auto;
}